<template>
    <v-container fluid>
        <v-row>
            <!-- System bar -->
            <v-col cols="12" md="6">
                <v-system-bar 
                    color="grey darken-3"
                    absolute
                >
                    <v-row>
                        <v-col
                            align="right"
                            class="caption white--text login-link-container"
                        >
                            <span
                                class="logout-container"
                                @click="logout"
                            >
                                Logout
                            </span>
                        </v-col>
                    </v-row>
                </v-system-bar>
            </v-col>
        </v-row>

        <!-- Feeds -->
        <v-row>
            <v-col
                class="d-flex"
                cols="10"
                md="4"
            >
                <v-select
                    v-model="feedId"
                    :items="feeds"
                    item-text="rss_name"
                    item-value="id"
                    label="RSS Feeds"
                    
                    @change="getRssFeedContent(); loading = true;"
                    clearable
                    :disabled="!feedsContent"
                ></v-select>
            </v-col>
            <v-col cols="2" class="mt-4">
                <v-btn
                    x-small
                    fab
                    dark
                    color="blue"
                    @click="dialog = true"
                >
                    <v-icon dark>
                        mdi-plus
                    </v-icon>
                </v-btn>
            </v-col>
        </v-row>

        <!-- Feed Content -->
        <v-row>
            <v-col class="pt-0">
                <v-card
                    v-for="feed in feedsContent"
                    :key="feed.link"
                    class="pa-3 mb-3"
                >
                    <a v-bind:href="feed.link" target="_blank"><p class="text-overline ma-0" v-html="feed.title"></p></a>
                    <v-row>
                        <v-col v-if="feed.image" cols="2" md="1" class="pr-0">
                            <v-img
                                max-width="100%"
                                :src="feed.image"
                            ></v-img>
                        </v-col>
                        <v-col cols="10" md="11" class="pb-0">
                            <p class="description text-caption ma-0" v-html="feed.description"></p>
                            <p class="text-caption ma-0"><b>Source: </b>{{ feed.link }}</p>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        

        <!-- Add Feed Dialog -->
        <v-dialog
            v-model="dialog"
            max-width="600"
            >
            <v-card>
                <v-app-bar
                    
                    color="blue"
                    dense
                    dark
                >
                    Add RSS Feed
                </v-app-bar>

                <v-card-actions>
                    <v-row>
                        <v-col cols="12" class="text-right">
                            <v-form
                                ref="form"
                                v-model="form"
                                lazy-validation
                            >
                                <v-text-field
                                v-model="feedName"
                                :rules="[rules.required]"
                                label="Feed Name"
                                required
                                ></v-text-field>

                                <v-text-field
                                v-model="feedUrl"
                                :rules="[rules.feed, rules.required]"
                                label="RSS Feed"
                                required
                                ></v-text-field>
                                
                                <v-btn
                                    color="blue darken-1"
                                    depressed
                                    dark
                                    @click="addRssFeed"
                                >
                                    Add
                                </v-btn>
                            </v-form>
                        </v-col>
                    </v-row>
                    
                </v-card-actions>
            </v-card>
        </v-dialog>

        <!-- Snackbar -->
        <v-snackbar
            v-model="snackbar"
            color="blue accent-2"
            timeout="3000"
            bottom
            >
            {{ snackbarText }}
            <template v-slot:action="{ attrs }">
                <v-btn
                dark
                text
                v-bind="attrs"
                @click="snackbar = false"
                >
                Close
                </v-btn>
            </template>
        </v-snackbar>

        <!-- Loading -->
        <v-overlay :value="loading">
            <v-progress-circular
                indeterminate
                size="64"
            ></v-progress-circular>
            </v-overlay>
    </v-container>
</template>
    
<script>
export default {
    data() {
        return {
            feedId: null,
            feeds: [],
            feedsContent: [],
            feedName: null,
            feedUrl: null,
            dialog: false,
            form: null,
            snackbar: false,
            snackbarText: null,
            loading: true,
            errors: [],
            rules: { required:  v => !!v || 'Required', 
                     feed: v => this.feedRule(v) },
        }
    },
    mounted() {
        this.getRssFeed();
        this.getRssFeedContent();
    },
    methods: {
        logout() {
            this.$axios({
                method: 'post',
                url: 'logout',
                config: { headers: { 'Content-Type': 'application/x-www-form-urlencoded' }}
            })
            .then(response => {
                if(response.status == 204) {
                    localStorage.setItem('auth', false);
                    this.$router.push('/login');
                }
            })
            .catch(e => {
                this.errors.push(e);
            })
        },
        getRssFeed() {
            this.$axios({
                method: 'get',
                url: 'api/rss-feed',
                config: { headers: { 'Content-Type': 'application/x-www-form-urlencoded' }}
            })
            .then(response => {
                this.feeds = response.data;
            })
            .catch(e => {
                this.errors.push(e);
            })
        },
        getRssFeedContent() {
            this.feedsContent = [];

            this.$axios({
                method: 'post',
                url: 'api/rss-feed-content',
                data: { feedId: this.feedId },
                config: { headers: { 'Content-Type': 'application/x-www-form-urlencoded' }}
            })
            .then(response => {
                if(response.data && response.data.status != 400) {
                    response.data.forEach(e => {
                        let json = JSON.parse(e);
                        
                        json.channel.item.forEach(i => {
                            if(i.description) {
                                // Image
                                let image = null;
                                if(i.description.includes("img")) {
                                    image = i.description.match(/<img [^>]*src="[^"]*"[^>]*>/gm).map(x => x.replace(/.*src="([^"]*)".*/, '$1'));
                                }
                                if(image && /\.(jpe?g|png|gif|bmp)$/i.test(image[0])) i.image = image[0]; else i.image = null;

                                // Remove HTML tags / View entire post
                                i.description = i.description.replace(/<[^>]+>/g, '');
                                i.description = i.description.replace(/View Entire Post/gi, '').replace(/&#{0,1}[a-z0-9]+;/ig, "");
                                
                                // Cut down description
                                let length = i.description.length;
                                i.description = i.description.substring(0, 255);
                                if(length > 255) {
                                    i.description += '...';
                                }
                            }
                            this.feedsContent.push(i);
                        });
                        this.loading = false;
                    })
                }
                this.loading = false;
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        addRssFeed() {
            if(this.$refs.form.validate()) {
                this.$axios({
                    method: 'post', 
                    url: 'api/rss-feed',
                    data: { feedName: this.feedName, feedUrl: this.feedUrl },
                    config: { headers: { 'Content-Type': 'application/x-www-form-urlencoded' }}
                })
                .then(response => {
                    if(response.status == 200) {
                        this.getRssFeed();
                        this.getRssFeedContent();

                        this.snackbarText = 'Successfully added RSS feed.';
                        this.feedName = null;
                        this.feedUrl = null;
                        this.dialog = false;
                    }
                    this.snackbar = true;
                })
                .catch(e => {
                    if(e.response.status == 400) {
                        this.snackbarText = 'Invalid or empty RSS feed.';
                    }
                    else if(e.response.status == 406) {
                        this.snackbarText = 'Duplicate RSS feed.';
                    } 
                    this.snackbar = true;
                })
            }
        },
        feedRule(v) {
            let pattern = new RegExp(/(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/gi);

            if(typeof v !== 'undefined' && v)
            {   if(!pattern.test(v)) {
                    return 'Invalid URL';
                }
                else { 
                    return true;
                }
            } 
            else {
                return true;
            }
        }
    }
}
</script>

<style>
    .logout-container {
        cursor: pointer;
    }

    img {
        max-width: 100px;
        height: auto;
        margin-right: 10px;
    }
</style>