<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" offset-md="3" class="pt-0">
                <v-tabs
                    v-model="tab"
                    background-color="blue accent-2"
                    grow
                    dark
                    slider-size="5"
                    slider-color="blue darken-3"
                >
                    <v-tab>Login</v-tab>
                    <v-tab>Register</v-tab>
                </v-tabs>
                
                <v-card>
                    <v-tabs-items v-model="tab">
                        <!-- Login -->
                        <v-tab-item>
                            <v-card flat>
                                <v-row>
                                    <v-col class="px-10">
                                        <v-form ref="form1" lazy-validation @submit="login">
                                            <v-text-field
                                                v-model="form1.email"
                                                :rules="[rules.required]"
                                                label="Email"
                                                required
                                                color="blue darken-1"
                                            ></v-text-field>
                                            <v-text-field
                                                v-model="form1.password"
                                                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                                :type="show ? 'text' : 'password'"
                                                @click:append="show = !show"
                                                :rules="[rules.required]"
                                                label="Password"
                                                required
                                                color="blue darken-1"
                                            ></v-text-field>
                                            <v-col class="text-right pr-0">
                                                <v-btn
                                                    type="submit"
                                                    color="blue darken-1"
                                                    dark
                                                >
                                                    Login
                                                </v-btn>
                                            </v-col>
                                        </v-form>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-tab-item>

                        <!-- Register -->
                        <v-tab-item>
                            <v-card flat>
                                <v-row>
                                    <v-col class="px-10">
                                        <v-form ref="form2" lazy-validation @submit="register">
                                            <v-text-field
                                                v-model="form2.name"
                                                :rules="[rules.required]"
                                                label="Name"
                                                required
                                                color="blue darken-1"
                                            ></v-text-field>
                                            <v-text-field
                                                v-model="form2.email"
                                                :rules="[rules.required, rules.email]"
                                                label="Email"
                                                required
                                                color="blue darken-1"
                                            ></v-text-field>
                                            <v-text-field
                                                v-model="form2.password"
                                                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                                :type="show ? 'text' : 'password'"
                                                @click:append="show = !show"
                                                :rules="[rules.required, rules.length]"
                                                label="Password"
                                                required
                                                color="blue darken-1"
                                            ></v-text-field>
                                            <v-col class="text-right pr-0">
                                                <v-btn
                                                    type="submit"
                                                    color="blue darken-1"
                                                    dark
                                                >
                                                    Register
                                                </v-btn>
                                            </v-col>
                                        </v-form>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>
                </v-card>
            </v-col>
        </v-row>

        <!-- Snackbar -->
        <v-snackbar
            v-model="snackbar"
            color="blue accent-2"
            timeout="3000"
            bottom
            >
            {{ snackbarText }}
            <template v-slot:action="{ attrs }">
                <v-btn
                dark
                text
                v-bind="attrs"
                @click="snackbar = false"
                >
                Close
                </v-btn>
            </template>
        </v-snackbar>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            tab: null,
            form1: {},
            form2: {},
            show: false,
            snackbar: false,
            snackbarText: null,
            errors: [],
            rules: { required:  v => !!v || 'Required' ,
                     email: v => this.emailRule(v),
                     length: v => (v && v.length >= 8) || "Password must be a minimum of 8 characters" }
        }
    },
    methods: {
        login(e) {
            e.preventDefault();

            if(this.$refs.form1.validate()) {
                this.$axios.get('sanctum/csrf-cookie').then(() => {
                    this.$axios({
                    method: 'post',
                    url: 'login',
                    data: { email: this.form1.email, password: this.form1.password },
                    config: { headers: { 'Content-Type': 'application/x-www-form-urlencoded' }}
                    })
                    .then(response => {
                        if(response.status == 204) {
                            this.$router.push('/');
                        }
                    })
                    .catch(e => {
                        this.errors.push(e);
                        this.snackbarText = 'Invalid login credentials'
                        this.snackbar = true;
                    })
                });
            }
        },
        register(e) {
            e.preventDefault();

            if(this.$refs.form2.validate()) {
                this.$axios({
                method: 'post',
                url: 'api/register',
                data: { form: this.form2 },
                config: { headers: { 'Content-Type': 'application/x-www-form-urlencoded' }}
                })
                .then(response => {
                    if(response.status == 200) {
                        this.snackbarText = 'Successfully registered account.';
                        this.snackbar = true;
                        this.$refs.form2.reset();
                        this.tab = 0;
                    }
                })
                .catch(e => {
                    if(e.response.data.errorInfo[0] == '23000') {
                        this.snackbarText = 'Email address already registered.';
                        this.snackbar = true;
                    }
                    else {
                        this.snackbarText = 'Error during registration process.';
                        this.snackbar = true;
                    }
                })
            }
        },
        emailRule(v) {
            let pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if(typeof v !== 'undefined' && v)
            {   if(!pattern.test(v)) {
                    return 'Invalid Email address';
                }
                else { 
                    return true;
                }
            } 
            else {
                return true;
            }
        }
    }
}
</script>